extends index

block sub_content
	.class-manage-container
		.add-new-special#addNewSpecial 新增专题
		//- .add-new-special-class 新增专题分类
	.class-actions-title-container
		.class-xuhao 排序
		.special-class-name 专题名称
		.special-class-types 专题分类
		.special-actions 操作
	- if(data.specialData.length>0)
		- for(var i=0;i<data.specialData.length;i++)
			.special-class-lists-details
				.class-lists-xuhao
					span.class-lists-xuhao-span.disable #{i+1}
				.special-class-name-content
					input.special-class-name-input(type="text" value="#{data.specialData[i].special_name}" readonly="readonly")
				.special-class-types-container
					select.select
						- for(var j=0;j<data.specialData[i].special_class.length;j++)
							option #{data.specialData[i].special_class[j].special_class_name}
				.special-actions-container
					span.common-actions-style.special-edit(data-id="#{data.specialData[i]._id}") 编辑
					span.common-actions-style.special-shop(data-id="#{data.specialData[i]._id}") 商品
					span.common-actions-style.special-delete(data-id="#{data.specialData[i]._id}") 删除
	- else
		div.no-data 暂无数据			
	script(src="/javascripts/special_manage.js")